@{
    ViewBag.Title = "Progress Monitor";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">External Progress Monitoring Tool for Jira</p>
    <p><a href="@Url.Action("Login", "Account")" class="btn btn-primary btn-lg">Log in &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Change Log</h2>
        <p>
            
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact</h2>
        <p>
            
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>