@model IReadOnlyCollection<ProgressMonitor.Models.UserViewModel>

@{
    ViewBag.Title = "Users";
}

<h2>@ViewBag.Title</h2>

<div>
    @foreach (var user in Model)
    {
        <a href="@Url.Action("UserSettings", "UserManagement", new { userId = user.Id })"><h4>@user.Username</h4></a>
        <hr/>
    }
</div>