@model IReadOnlyCollection<string>

@{
    ViewBag.Title = "Users";
}

<h2>@ViewBag.Title</h2>

<div>
    @foreach (var username in Model)
    {
        <a href="@Url.Action("UserSettings", "UserManagement")"><h4>@username</h4></a>
        <hr/>
    }
</div>