@model IReadOnlyCollection<ProgressMonitor.Models.JsonSerialization.Project>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach (var project in Model)
{
    <div>
        @project.Name
        <hr/>
    </div>
}

